:root {
    --background-color: #252C33
    /*--background-color: rgb(27, 35, 42, .3);*/
}

#sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--background-color);
    color: #b5bfc9;
}

#message-container {
    overflow: scroll;
    height: 85%;
}

#sidebarContainer {
    width: 25%;
    height: 100%;
}

#message-container .day {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.day span {
    background: var(--background-color);
    padding: 0 10px;
}

.notification {
    position: relative;
    display: inherit;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.15);
    background: rgba(234, 247, 255, 0.035);
    line-height: 30px;
    border-radius: 100px;
    margin: 5px auto;
    height: 30px;
    width: 70%;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, .05), 0px -1px 0px rgba(0, 0, 0, .05), inset 0px 1px 0px rgba(255, 255, 255, .02), inset 0px -1px 0px rgba(255, 255, 255, .02);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .1), 0px 1px 0px rgba(255, 255, 255, .05);
    cursor: default;
}

.notification time {
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 11px;
    padding: 8px;
    border-radius: 100px;
    background: #252C33;
    box-shadow: 0px 0px 2px rgba(255,255,255,.02), inset 0px 0px 1px rgba(27,35,42,0.1);
    height: 1px;
    line-height: 0px;
    color: rgba(255,255,255,0.1);
}

.notification span {
    padding-right: 15px;
    /*padding-right: 50px;*/
}

/*input {*/
    /*width: 60%;*/
/*}*/